<!DOCTYPE html>
<html>
<head>

 <meta charset="utf-8" />

 <script async src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js'></script>
 <script async src='https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.3.1/sha.js'></script>
 <script async src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js'></script>
 <script async src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js'></script>
 <script async src="https://cdnjs.cloudflare.com/ajax/libs/pouchdb/6.4.3/pouchdb.min.js" integrity="sha256-KCHhiEhNiEbEd8h607QOlmc3LkpQ/En/mS302LGjnLY=" crossorigin="anonymous"></script>
 <script async src="https://unpkg.com/esprima@~4.0/dist/esprima.js"></script>
 <script async src="https://unpkg.com/filbert@0.1.20/filbert.js"></script>

 <script async src="https://unpkg.com/vue/dist/vue.js"></script>
 <script async src="https://unpkg.com/vue-material@beta"></script>
 <script async src='https://unpkg.com/vuetify/dist/vuetify.js'></script>
 <script async src="https://unpkg.com/http-vue-loader"></script>

 <script src='scripts/widgets/deepdiff-opts.js'></script>


 <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
 <link rel="stylesheet" href="//unpkg.com/vue-material@beta/dist/theme/default.css">
 <link rel="shortcut icon" type="image/png" href="favicon.png"/>

 <script type="module" src="./scripts/index.js"></script>
 <script type="text/javascript" nomodule>
    let everything = Array.from(document.querySelectorAll('body > *'));
    everything.forEach(function(d){
        d.style.display = 'none';
    });
    let instructions = document.body.querySelector('#unsupported');
    instructions.style.display = 'block';
 </script>

 <template type="text/x-template" id="treeview-template">
  <details style='margin-left:1em;' draggable='true' @dragstart='dragstart' :data-path='filecollection.path' open>
   <summary> {{ filecollection.name }} </summary>
   <treeview v-for="(filecollection, index) in filecollection.children" :key="index" :files="filecollection"></item>
  </details>
 </template>
 <template type='text/x-template' id='submission-template'>
  <details>
   <summary>
    <!-- button @click='showhide' title='Display'><span v-html="showhideIcon"></span></button -->
    <button @click='remove' title='Delete' v-show='remover !== null'>&#128465;</button>
    <!-- span @click='save'>&#128427;</span -->
    {{submission.name}}
   </summary>
   <treeview :files="submission.content"></treeview>
  </details>
 </template>
 <template type='text/x-template' id='submissions-template'>
  <div>
   <submission v-for='(sub,key) in ordered' :key="sub.name" :submission="sub" :remover='remover' ></submission>
  </div>
 </template>
 <template type='text/x-template' id='tornadoresult-template'>
   <table>
    <tbody>
     <tr v-for='(result,key) in ordered' :class="{complete:isComplete(result),significant:isComplete(result) && report.isSignificantResult(result)}" :key="result.name">
      <td v-for='submission in result.submissions'><meter min='0' max='1' :value='submission.percentMatched' :title='formatTitle(submission.percentMatched)'></meter><span :title='formatTitle(submission.percentMatched)'>{{submission.name}}</span></td>
     </tr>
    </tbody>
   </table>
 </template>
 <template type='text/x-template' id='forcedirected-template'>
  <svg>
   <g class='links'>
    <line
        v-for='link in links'
        :stroke='link.complete===1?opts.lineColour:"orange"'
        :stroke-width='Math.floor((opts.radius+1)*link.value)'
        :opacity='link.value'
        :x1='link.points[0].pos.x'
        :y1='link.points[0].pos.y'
        :x2='link.points[1].pos.x'
        :y2='link.points[1].pos.y'
        />
   </g>
   <g class='nodes'>
    <circle
        v-for='node in nodes'
        :cx='node.pos.x'
        :cy='node.pos.y'
        :r='opts.radius'
        :fill='opts.nodeColour[node.group]'
        @mousedown='MouseDown'
        >
     <title>{{node.key}}</title>
    </circle>
   </g>
  </svg>
 </template>
 <template type='text/x-template' id='resultmatrixcell-template'>
  <span :style='style' :title='title'>&#9646;</span>
 </template>
 <template type='text/x-template' id='resultmatrix-template'>
  <table style='table-layout:fixed;'>
   <thead>
    <tr>
     <th>&nbsp;</th>
     <th v-for='submission in orderedSubmissions'><span>{{submission.name}}</span></th>
    </tr>
   </thead>
   <tbody>
    <tr v-for='(row,i) in orderedSubmissions' :key='row.name'>
     <th>{{row.name}}</th>
     <td v-for='(col,j) in orderedSubmissions' :key='col.name' style='margin:0;padding:0;background-color:transparent;position:relative;overflow:hidden;width:1em;height:1em;'>
      <resultmatrixcell :result-submission='getResultSubmission(row,col)' :parent='getResult(row,col)' :is-same='i===j'></resultmatrixcell>
     </td>
    </tr>
   </tbody>
  </table>
 </template>
 <template type='text/x-template' id='diffview-template'>
  <div>
   <ul>
    <li>Group 1</li>
    <li>Group 2</li>
    <li>Group 3</li>
    <li>Group 4</li>
   </ul>

   <section style='display:inline-block;width:48%;border:1px solid darkgrey;overflow:scroll;vertical-align: text-top;'>
    <input style='max-width:100%;' list="submissions-asdf" v-model='left' />
    <datalist id="submissions-asdf">
     <option v-for='sub in report.submissions' :value="sub.name" />
    </datalist>
    <pre style='height:20em;'><span v-html="textLeft"></span></pre>
   </section>
   <section style='display:inline-block;width:48%;border:1px solid darkgrey;overflow:scroll;vertical-align: text-top;'>
    <input style='max-width:100%;' list="submissions-fdsa" v-model='right' />
    <datalist id="submissions-fdsa">
     <option v-for='sub in report.submissions' :value="sub.name" />
    </datalist>
    <pre style='height:20em;'><span v-html="textRight"></span></pre>
   </section>
  </div>
 </template>


 <link rel='stylesheet' href='index.css' />
 <link rel='stylesheet' href='style/main.css' />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
 <pre style='display:none;'></pre>
 <header>
  <h1>Checksims</h1>
 </header>
 <section>
  <ps-panel icon='settings' state='minimize'>
   <h1>Options</h1>
   <form is='deepdiff-opts' state='minimize'>
    <select name='algorithm' list='algorithms'>
     <option value='test'>Test</option>
    </select>
   </form>
  </ps-panel>
  <ps-panel icon='folder'>
   <h1>Files</h1>
   <div id='files'>
    <filedrop :onfile="onfile">&#128476; Upload a Zip</filedrop>
    <treeview :filelist="treeData"></treeview>
   </div>
  </ps-panel>
  <ps-panel icon='collections'>
   <h1>Submissions</h1>
   <div id='submissions'>
    <span id='submissionMaker'>&#10133;</span>
    <submission-list :pouchdb='db' :filter='filter'></submission-list>
   </div>
  </ps-panel>
 </section>
 <main>
  <ps-tabpanel>
   <ps-panel icon='show_chart'>
    <h1>Reports</h1>
    <section id='results' class='panel'>
     <details data-type='force' open>
      <summary>Force</summary>
      <forcedirected :width='300' :height="300" :results='report.results'></forcedirected>
     </details>
     <details data-type='lst' open>
      <summary>Listing</summary>
      <tornadoresult-list class='result' :report="report"></tornadoresult-list>
     </details>
     <details data-type='html' open>
      <summary>HTML</summary>
      <resultmatrix :report='report'></resultmatrix>
     </details>
    </section>
   </ps-panel>
   <ps-panel icon='compare' state='hide'>
    <h1>Comparison</h1>
    <section id='compare'>
     <diffview :report='report'></diffview>
    </section>
   </ps-panel>
   <ps-panel id='help' icon='help'>
    <h1>Help</h1>
    <dl>
     <dt><a href='./tests/sampleassignment.zip'>Sample Assignments</a></dt>
      <dd>
       A few demo files that I have used in classes. Formatted
       appropriately for student submission, and copied a couple of way.
       Gives some data that will match and some data that will not match.
      </dd>
     <dt><a href='./tests/smallcompares.zip'>Small Compares</a></dt>
      <dd>
       <p>
       Two files with a very small comparison dataset. Suitable for debugging,
       and manually tracing of the algorithm.
       <ol>
        <li><pre><a href="https://en.wikipedia.org/wiki/Coelacanth">C O E L A C A N T H</a></pre></li>
        <li><pre>  P E L I C A N</pre></li>
       </ol>
       From a bioinformatics class slides I <a href="http://slideplayer.com/slide/5142106/16/images/21/Smith-Waterman-Algorithm.jpg">found online</a>
       </p>
       <p>
        A better dataset would be one that matches multiple times.
        <ol>
         <li><pre><a href="https://www.youtube.com/watch?v=iCclS78a7P0">H <span style='background-color:lightblue;'>E L L O</span> J <span style='background-color:lightblue;'>E L L O</span></a></pre></li>
         <li><pre>B <span style='background-color:lightblue;'>E L L O</span> W , B <span style='background-color:lightblue;'>E L O</span> W</pre></li>
        </ol>
       </p>
      </dd>
     <dt><a href='./tests/bigcompares.zip'>Big Compares</a></dt>
      <dd>
       Genome of E.Coli, and Y.Pestarius. Makes for a really big compare,
       and is know to currently break the application.
      </dd>
    </dl>
    <div id='unsupported' style='display:none;'>
     <h1>Experimental Features required</h1>
     <p>
      In an effort to put this together, it seemed a good idea to use some
      JavaScript v6 features. Unfortunately, it appears that your browser does
      not currently support them <strong>by default</strong>
     </p>
     <p>
      Don't Panic!! As of 2018, most browsers don't; however most allow you to
      turn the features on.
     </p>
     <h2>Chrome</h2>
     <ol>
      <li>Navigate to <a href='chrome://flags/'>Chrome Experiments</a></li>
      <li>Activate <a href='chrome://flags/#enable-javascript-harmony'>"Experimental Javascript"</a></li>
      <li>Activate <a href='chrome://flags/#enable-experimental-web-platform-features'>"Experimental Web Platform Features"</a></li>
     </ol>
     <h2>Edge</h2>
     <ol>
      <li>Navigate to <a href='about:flags'>Edge Flags</a></li>
      <li>Activate "Experimental Javascript"</li>
     </ol>
    </div>
   </ps-panel>
  </ps-tabpanel>

 </main>
 <section style='display:none;'>
Sidebar 2
 </section>
 <footer>
  <a href='Jeff Cave
  &mdash; Privacy
  &mdash; <a href='docs/readme.md'>Purpose</a>
 </footer>

</body>
</html>
