:root{
	--notice-info-off:whitesmoke;
	--notice-info-low:lightsteelblue;
	--notice-info-high:steelblue;

	--notice-fail-off:mistyrose;
	--notice-fail-low:lightsalmon;
	--notice-fail-high:darkred;
	/*
	--notice-warn-off:mistyrose;
	--notice-warn-low:lightsalmon;
	--notice-warn-high:darkred;
	--notice-pass-off:mistyrose;
	--notice-pass-low:lightsalmon;
	--notice-pass-high:darkred;
	*/
}

body{
	font-family:sans-serif;
	position:relative;
}

table{
	border-collapse:collapse;
}
td {
	padding:0.2em;
	font-weight:bold;
	font-family:monospace;
	text-align:right;
	border:1px solid black;
}
th {
	background-color:white;
}

textarea{
	width:80%;
	height:300px;
}



fieldset > button{
	float: right;
}



#results > details > * {
	margin:2em;
}
#results > details > summary {
	margin:0;
	background-color:#2F2F2F;
	color:white;
	font-weight:bold;
}
#results > details[data-type='force'] svg {
	padding:0;
	height:300px;
	width:300px;
	list-style-type:none;
	position:relative;
	border:1px solid darkgray;
}


#results > details[data-type='html'] thead th, #results > details[data-type='html'] thead th > span {
	writing-mode: vertical-rl;
}
#results > details[data-type='html'] tbody {
	background-color: var(--notice-info-off);
}
#results > details[data-type='html'] td {
	background-color: var(--notice-info-high);
	color: white;
}



#results > details[data-type='lst'] table{
	width:calc(100% - 1em);
	max-width:300px;
	border:0;
}
#results > details[data-type='lst'] thead {
	display: none;
}
#results > details[data-type='lst'] tbody {
	border:0;
}
#results > details[data-type='lst'] tr {
}
#results > details[data-type='lst'] td {
	border:0;
	padding:0;
	margin:0;
	position:relative;
	width:50%;
	font-family:sans-serif;
	vertical-align: middle;
}

#results > details[data-type='lst'] tr > td > meter {
	width:100%;
	height:1.25em;
}
#results > details[data-type='lst'] tr > td > meter::-webkit-meter-bar {
	background: var(--notice-info-low);
}
#results > details[data-type='lst'] tr > td > meter::-webkit-meter-optimum-value{
	background: var(--notice-info-high);
	border-top-right-radius:0.5em;
	border-bottom-right-radius:0.5em;
}
#results > details[data-type='lst'] tr > td > span {
	position:absolute;
	left:0.5em;
	color:white;
	font-weight:bold;
	z-index:10;
	height:1.25em;
	vertical-align: middle;
	padding: 0.15em;
}

#results > details[data-type='lst'] tr > td:nth-of-type(1) {
	border-right: 0.1em solid white;
	border-right-color: var(--notice-info-high);
}
#results > details[data-type='lst'] tr > td:nth-of-type(1) > meter {
	transform:rotate(180deg);
}
#results > details[data-type='lst'] tr > td:nth-of-type(1) > span {
	right:0.5em;
}
