:root{
	--notice-info-off:whitesmoke;
	--notice-info-low:lightsteelblue;
	--notice-info-high:steelblue;

	--notice-fail-off:mistyrose;
	--notice-fail-low:lightsalmon;
	--notice-fail-high:darkred;

	--notice-warn-off:gold;
	--notice-warn-low:orange;
	--notice-warn-high:orangered;

	/*
	--notice-pass-off:mistyrose;
	--notice-pass-low:lightsalmon;
	--notice-pass-high:darkred;
	*/
	--notice-pending-off:white;
	--notice-pending-low:lightgray;
	--notice-pending-high:darkgray;
}

* {
	position:relative;
}

body{
	font-family:sans-serif;
	position:relative;
	padding:0;
	margin:0;
}

i {
	text-decoration: none;
	font-style: normal;
}

main{
	display: flex;
	flex-flow: row wrap;
	height:100vh;
	padding:0;
	margin:0;
}
main > section{
	flex:1 1 auto;
	min-height:25vh;
	width:100%;
	min-width:300px;
	max-width:400px;
	margin:1vmin;
	border:0.3vmin solid black;
	padding:1.7vmin;
	border-radius:0.5em;
}
main > section > *{
	opacity:1;
	transition: opacity 1s;
}

@media screen and (orientation:landscape) {
	main{
		flex-flow: column wrap;
		overflow-y:hidden;
	}
	main > section{
		height:100%;
		width:44vw;
		min-width:300px;
		overflow-y: auto;
	}

}



table{
	border-collapse:collapse;
}
td {
	padding:0.2em;
	font-weight:bold;
	font-family:monospace;
	text-align:right;
	border:1px solid black;
}
th {
	background-color:white;
}

textarea{
	width:80%;
	height:300px;
}

nav {
	height:2vmin;
	width:100%;
}

nav > progress[value]{
	position:absolute;
	width:100%;
	height:100%;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin:0;
	background:none;
	border: 0;
}

nav > progress[value]::-webkit-progress-bar {
	background-color:var(--notice-info-off);
}
nav > progress[value]::-webkit-progress-value {
	background-color:var(--notice-info-high);
}

input[type='range'] {
	width: 100%;
}


input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	/* margin-top: -14px; */
	/* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-ms-track {
/*
	width: 100%;
	cursor: pointer;

	background: transparent;
	border-color: transparent;
	color: transparent;
*/
}



#results > details > * {
	margin:2em;
}
#results > details > summary {
	margin:0;
	background-color:#2F2F2F;
	color:white;
	font-weight:bold;
}
#results > details[data-type='force'] svg {
	padding:0;
	height:300px;
	width:300px;
	list-style-type:none;
	position:relative;
	border:1px solid darkgray;
}


#results > details[data-type='html'] table {
	background-color: var(--notice-info-off);
}
#results > details[data-type='html'] th, #results > details[data-type='html'] th > span {
	background-color: transparent;
	writing-mode: vertical-rl;
}
#results > details[data-type='html'] tbody {
	background-color: var(--notice-info-off);
}
#results > details[data-type='html'] td {
	background-color: var(--notice-info-high);
	color: white;
}



#results > details[data-type='lst'] table{
	width:calc(100% - 1em);
	max-width:300px;
	border:0;
}
#results > details[data-type='lst'] thead {
	display: none;
}
#results > details[data-type='lst'] tbody {
	border:0;
}
#results > details[data-type='lst'] tr {
}
#results > details[data-type='lst'] td {
	border:0;
	padding:0;
	margin:0;
	position:relative;
	width:50%;
	font-family:sans-serif;
	vertical-align: middle;
}

#results > details[data-type='lst'] tr > td > meter {
	width:100%;
	height:1.25em;
}
#results > details[data-type='lst'] tr > td > meter::-webkit-meter-bar {
	background: var(--notice-pending-low);
	transition: all 0.5s ease-out;
}
#results > details[data-type='lst'] tr > td > meter::-webkit-meter-optimum-value{
	background: var(--notice-pending-high);
	border-top-right-radius:0.5em;
	border-bottom-right-radius:0.5em;
	transition: all 0.5s ease-out;
}
#results > details[data-type='lst'] tr > td > span {
	position:absolute;
	left:0.5em;
	color:white;
	font-weight:bold;
	z-index:10;
	height:1.25em;
	vertical-align: middle;
	padding: 0.15em;
}

#results > details[data-type='lst'] tr > td:nth-of-type(1) {
	border-right: 0.1em solid white;
	border-right-color: var(--notice-pending-high);
}
#results > details[data-type='lst'] tr > td:nth-of-type(1) > meter {
	transform:rotate(180deg);
}
#results > details[data-type='lst'] tr > td:nth-of-type(1) > span {
	right:0.5em;
}

#results > details[data-type='lst'] tr.complete > td > meter::-webkit-meter-bar {
	background: var(--notice-info-low);
	transition: all 5s ease-out;
}
#results > details[data-type='lst'] tr.complete > td > meter::-webkit-meter-optimum-value{
	border:0;
	background: var(--notice-info-high);
	transition: all 5s ease-out;
}
#results > details[data-type='lst'] tr.complete > td:nth-of-type(1) {
	border-right-color: var(--notice-info-high);
	transition: all 5s ease-in-out;
}

#results > details[data-type='lst'] tr.significant > td > meter::-webkit-meter-bar {
	background: var(--notice-fail-low);
	transition: all 5s ease-out;
}
#results > details[data-type='lst'] tr.significant > td > meter::-webkit-meter-optimum-value{
	border:0;
	background: var(--notice-fail-high);
	transition: all 5s ease-out;
}
#results > details[data-type='lst'] tr.significant > td:nth-of-type(1) {
	border-right-color: var(--notice-fail-high);
	transition: all 5s ease-in-out;
}

