@charset "utf-8";

#results > details > * {
	margin:2em;
}
#results > details > summary {
	margin:0;
	background-color:#2F2F2F;
	color:white;
	font-weight:bold;
}
#results > details[data-type='force'] svg {
	padding:0;
	height:300px;
	width:300px;
	list-style-type:none;
	position:relative;
	border:1px solid darkgray;
}


#results > details[data-type='html'] table {
	background-color: var(--notice-info-off);
}
#results > details[data-type='html'] th, #results > details[data-type='html'] th > span {
	background-color: transparent;
	writing-mode: vertical-rl;
	text-align:right;
}
#results > details[data-type='html'] tbody {
	background-color: var(--notice-info-off);
}
#results > details[data-type='html'] td {
	background-color: var(--notice-info-high);
	color: white;
}

