label.filedrop {
	display: inline-block;
	position: relative;
	padding:0.75em;
	border:1px solid black;
}

label.filedrop input[type="file"] {
	position: absolute;
	left: 0;
	opacity: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}

label.filedrop div {
	display: flex;
	align-items: center;
	justify-content: center;

}

label.filedrop div.dragover {
	filter: invert(100%);
	text-shadow: white 1px 0 1px;
}
